@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* MENU */
.contentHeader {
    background: #ffff;
    color: #FFD700;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: box-shadow 0.3s ease;
}

.contentHeader.shadow-active {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.contentHeader header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contentHeader header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #000000;
    text-decoration: none;
}

.contentHeader header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contentHeader header nav ul li {
    margin: 0 15px;
}

.contentHeader header nav ul li a {
    color: #000000;
    text-decoration: none;
    position: relative;
}

.contentHeader header nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.contentHeader header nav ul li a:hover::before {
    transform: scaleX(1);
    background-color: #FFD700;
    /* Warna animasi ketika hover */
}

/* Container untuk sidebar */
.sidebar-container {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #FFD700;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease, opacity 0.3s ease;
    opacity: -5;
}

/* Isi sidebar */
.sidebar-content {
    padding: 20px;
}

.sidebar-content a {
    display: block;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
}

.sidebar-active {
    right: 0;
    opacity: 1;
}

.menu-btn-active .nav-responsive {
    transform: translateX(250px);
}

.nav-responsive {
    background-color: #FFD700;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* section profile */
.profil {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23FFD700' fill-opacity='1' d='M0,64L26.7,85.3C53.3,107,107,149,160,149.3C213.3,149,267,107,320,106.7C373.3,107,427,149,480,165.3C533.3,181,587,171,640,186.7C693.3,203,747,245,800,256C853.3,267,907,245,960,240C1013.3,235,1067,245,1120,250.7C1173.3,256,1227,256,1280,245.3C1333.3,235,1387,213,1413,202.7L1440,192L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z'/%3E%3C/svg%3E");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    animation: fadeIn 1s ease-in;
}

.profil .contentBanner {
    padding: 20px;
    /* background-color: #ffffff; */
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.profil .contentBanner img {
    margin-top: 40px;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 20%;
}

.profil .contentBanner h1 {
    margin-top: 10px;
    font-size: 42px;
    font-family: 'Righteous';
}

.profil .contentBanner h2 {
    font-size: 15px;
    font-weight: normal;
}

.profil .contentBanner .redes {
    margin-top: 5px;
    margin-bottom: 10px;
}

.profil .contentBanner .redes a {
    color: #000;
    margin: 0 10px;
}

.profil .contentBanner button {
    position: relative;
    overflow: hidden;
    background-color: #FFD700;
    border: 1px solid #000;
    color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.profil .contentBanner button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    z-index: -1;
}

.profil .contentBanner button:hover::before {
    left: 0;
}

.profil .contentBanner button:hover {
    color: #000;
    border-color: transparent;
}

.myProfile {
    background-color: #FFD700;
    color: #000000;
    height: 100vh;
    padding: 50px 20px;
    animation: fadeIn 1s ease-in;
}

.myProfile .contentSection {
    max-width: 1100px;
    margin: auto;
}

.myProfile h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.myProfile .contentSection p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}

.myProfile .contentSection p span {
    color: #ffff89;
    font-weight: bold;
}

.myProfile .personal {
    display: flex;
}

.myProfile .personal .col {
    width: 50%;
}

.myProfile .personal .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.myProfile .personal .col ul {
    list-style: none;
}

.myProfile .personal .col ul li {
    margin: 12px 0;
}

.myProfile .personal .col ul li strong {
    display: inline-block;
    color: #ffff89;
    width: 130px;
}

.myProfile .personal .col ul li span {
    background-color: #ffff89;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.myProfile .personal .col .contentInteres {
    display: flex;
    flex-wrap: wrap;
}

.myProfile .personal .col .contentInteres .interes {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    perspective: 1000px;
}

.myProfile .personal .col .contentInteres .interes:hover {
    transform: rotateY(20deg);
}

.myProfile .personal .col .contentInteres .interes img {
    max-width: 70%;
    transition: transform 0.3s;
}

.myProfile .personal .col .contentInteres .interes:hover img {
    transform: scale(1.2);
}

.myProfile .personal .col .contentInteres .interes:hover {
    background-color: #FFD700;
    border: 1px solid;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.myProfile .personal .col .contentInteres .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}


.myProfile button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #000000;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #000000;
    position: relative;
    z-index: 10;
}

.myProfile button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ffff89;
    z-index: -1;
    transition: 1s;
}

.myProfile button:hover .overlay {
    width: 100%;
}

/* SECCION PORTFOLIO */
.portfolio {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23FFD700' fill-opacity='1' d='M0,128L60,117.3C120,107,240,85,360,69.3C480,53,600,43,720,80C840,117,960,203,1080,234.7C1200,267,1320,245,1380,234.7L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z'/%3E%3C/svg%3E");
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    /* color: #000000; */
    background-size: cover;
    padding: 50px 20px;
    animation: fadeIn 1s ease-in;
    /* Efek bayangan */
}

.portfolio .contentWeb {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galery .project {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galery .project img {
    width: 100%;
    display: block;
}

.card {
    border-radius: 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    perspective: 1000px;
}

.card:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    transform: rotateY(10deg);
}

.card-img-top {
    border-radius: 5%;
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card-title {
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
}

.card-text {
    color: black;
    font-size: 1rem;
}

/* footer */
.footer {
    background-color: #FFD700;
    color: #000000;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

.footer .col {
    text-align: left;
}

.footer .col h3 {
    color: #000000;
    /* Warna teks putih */
}

.footer .col ul {
    list-style-type: none;
    padding: 0;
}

.footer .col ul li {
    margin-bottom: 10px;
}

.footer .col ul li strong {
    color: #000000;
    /* Warna teks putih */
}

.footer .arriba {
    color: #000000;
    /* Warna teks putih */
    text-decoration: none;
}

.footer .foot a {
    color: #000000;
    /* Warna teks putih */
    text-decoration: none;
    margin: 0 5px;
}

/* Animasi Fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Responsive */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .myProfile .personal .col .contentInteres .interes {
        width: calc(33.33% - 15px);
    }

    .nav-responsive {
        display: block;
    }

    .profil {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23FFD700' fill-opacity='1' d='M0,64L26.7,85.3C53.3,107,107,149,160,149.3C213.3,149,267,107,320,106.7C373.3,107,427,149,480,165.3C533.3,181,587,171,640,186.7C693.3,203,747,245,800,256C853.3,267,907,245,960,240C1013.3,235,1067,245,1120,250.7C1173.3,256,1227,256,1280,245.3C1333.3,235,1387,213,1413,202.7L1440,192L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z'/%3E%3C/svg%3E");
    }

    .portfolio {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23FFD700' fill-opacity='1' d='M0,128L60,117.3C120,107,240,85,360,69.3C480,53,600,43,720,80C840,117,960,203,1080,234.7C1200,267,1320,245,1380,234.7L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z'/%3E%3C/svg%3E");
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #FFD700;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .myProfile .personal .col .contentInteres .interes {
        width: calc(33.33% - 15px);
    }

    .profil {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23FFD700' fill-opacity='1' d='M0,64L26.7,85.3C53.3,107,107,149,160,149.3C213.3,149,267,107,320,106.7C373.3,107,427,149,480,165.3C533.3,181,587,171,640,186.7C693.3,203,747,245,800,256C853.3,267,907,245,960,240C1013.3,235,1067,245,1120,250.7C1173.3,256,1227,256,1280,245.3C1333.3,235,1387,213,1413,202.7L1440,192L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z'/%3E%3C/svg%3E");
    }

    .portfolio {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23FFD700' fill-opacity='1' d='M0,128L60,117.3C120,107,240,85,360,69.3C480,53,600,43,720,80C840,117,960,203,1080,234.7C1200,267,1320,245,1380,234.7L1440,224L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z'/%3E%3C/svg%3E");
    }

    .myProfile .personal {
        display: block;
    }

    .myProfile .personal .col {
        width: fit-content;
    }

    .skills .personal {
        display: block;
    }

    .skills .personal .col {
        width: 100%;
    }

    .skills .personal .col .barra-skill {
        width: 100%;
    }

    .card {
        border-radius: 15px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        perspective: 1000px;
        margin: auto;
        /* Menengahkan kartu */
    }

    .card:hover {
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
        transform: rotateY(10deg);
    }

    .card-img-top {
        border-radius: 5%;
        transition: transform 0.3s ease;
    }

    .card:hover .card-img-top {
        transform: scale(1.1);
    }

    .card-title {
        font-size: 1.25rem;
        color: black;
        font-weight: bold;
    }

    .card-text {
        color: black;
        font-size: 1rem;
    }
}