@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/* MENU */
.contentHeader {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contentHeader header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contentHeader header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #00c3ff;
    text-decoration: none;
}

.contentHeader header ul {
    display: flex;
    list-style: none;
}

.contentHeader header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contentHeader header nav ul li a:hover {
    color: #00c3ff;
}

.nav-responsive {
    background-color: #00c3ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* section profile */
.profil {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.profil .contentBanner {
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.profil .contentBanner img {
    margin-top: 40px;
    /* border: 10px solid #00c3ff; */
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 20%;
}

.profil .contentBanner h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.profil .contentBanner h2 {
    font-size: 15px;
    font-weight: normal;
}

.profil .contentBanner .foot a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.profil .contentBanner .foot a:hover {
    background-color: #00c3ff;
}

.myProfile {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.myProfile .contentSection {
    max-width: 1100px;
    margin: auto;
}

.myProfile h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.myProfile .contentSection p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}

.myProfile .contentSection p span {
    color: #00c3ff;
    font-weight: bold;
}

.myProfile .personal {
    display: flex;
}

.myProfile .personal .col {
    width: 50%;
}

.myProfile .personal .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.myProfile .personal .col ul {
    list-style: none;
}

.myProfile .personal .col ul li {
    margin: 12px 0;
}

.myProfile .personal .col ul li strong {
    display: inline-block;
    color: #00c3ff;
    width: 130px;
}

.myProfile .personal .col ul li span {
    background-color: #00c3ff;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.myProfile .personal .col .contentInteres {
    display: flex;
    flex-wrap: wrap;
}

.myProfile .personal .col .contentInteres .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.myProfile .personal .col .contentInteres .interes:hover {
    background-color: #00c3ff;
}

.myProfile .personal .col .contentInteres .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.myProfile button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.myProfile button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00c3ff;
    z-index: -1;
    transition: 1s;
}

.myProfile button:hover .overlay {
    width: 100%;
}

/* section portofolio */
.portfolio {
    background-image: url(img/contact_bg.png);
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .contentWeb {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galery .project {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galery .project img {
    width: 100%;
    display: block;
}

.portfolio .galery .project .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28, 182, 152, .8), rgba(28, 182, 152, .8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galery .project .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galery .project .overlay:hover {
    opacity: 1;
}

.portfolio .galery .project .overlay:hover h3 {
    margin-bottom: 0px;
}

.card {
    border-radius: 15px;
}

.card-img-top {
    border-radius: 5%;
}

.card-title {
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
}

.card-text {
    color: black;
    font-size: 1rem;
}

footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .foot {
    margin-bottom: 20px;
}

footer .foot a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #00c3ff;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}


/* section reponsive */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .myProfile .personal {
        display: block;
    }

    .myProfile .personal .col {
        width: fit-content;
    }

    .skills .personal {
        display: block;
    }

    .skills .personal .col {
        width: 100%;
    }

    .skills .personal .col .barra-skill {
        width: 100%;
    }

    .curriculum .personal {
        display: block;
    }

    .curriculum .personal .col {
        width: 90%;
    }

    .curriculum .personal .derecha {
        margin-left: 20px;
    }

    .portfolio .galery {
        display: block;
        width: 100%;
    }

    .portfolio .galery .project {
        max-width: 100%;
    }

    .portfolio .galery .project img {
        width: 100%;
    }

    .contacto .personal {
        display: block;
    }

    .contacto .personal .col {
        width: 100%;
    }
}